body {
  font-family: 'Signika', sans-serif;
}

.font-light {
  font-weight: 300; /* Signika Light */
}

.font-regular {
  font-weight: 400; /* Signika Regular */
}

.font-bold {
  font-weight: 600; /* Bold option */
}
